HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Mac ###
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Java ###
*.class
*.mods
jars/
out/
jre/
