/* Glassmorphism Design see - https://www.youtube.com/watch?v=O7WbVj5apxU&t=118s
*  and https://www.youtube.com/watch?v=hnHFMLx4ZhU&t=3s
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    color: #ffffff;
    background: linear-gradient(to right bottom,  rgba(79, 170, 249) 0%, rgba(95, 222, 245) 52%, rgba(75, 222, 221) 100%);
    background-position: initial initial;
    background-repeat: initial initial;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-size: 2.3rem;;
}

h2 {
    color: rgb(161, 173, 187);
    margin: 1.5rem 0 0 0;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

h3 {
    color: rgba(38, 132, 214, 0.5);
    font-size: 1.0rem;
    font-weight: 400;
}

p {
    margin: 1.0rem 0 0 0;
}

main {
    min-height: 100vh;
    max-height: inherit;
}

.header {
    color: rgba(255, 255, 255, 0.9);
    padding: 5rem 0 3rem 0;
}

.header-content {
    max-width: 20rem;
    margin: 0rem 5rem;
    padding: 0 1.6rem;    
}

.header__title {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    margin-bottom: .4rem;
    letter-spacing: 0.5rem;
    text-align: left;
}
  
.header__subtitle {
    text-align: left;
}

h2.header__subtitle {
    font-weight: 150;
    letter-spacing: 0.2rem;
    color: rgba(255, 255, 255, 0.9);
    margin: 0.5rem 0 0 0;
    font-size: 0.7rem;
}

.container {
    /*
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.glass {
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
    border-radius: 0.7rem;
    backdrop-filter: blur(0.3rem);
    height: auto;
    width: 40rem;
    margin: 0 2rem;
    padding: 2rem;
    margin: 1rem 0rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.links {
    margin: 0 0 1rem 0rem;
}
.link {
    color: rgb(161, 173, 187);
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 1.0));
    border-radius: 15px;
    backdrop-filter: blur(0.3rem);
    height: auto;
    min-height: 1.2rem;
    margin: 1rem 0;
    width: 100%;
    z-index: 3;
    font-size: 0.9rem;
    font-weight: 300;
    box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
    display: flex;
}
.link-original-url {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0.7rem 1.5rem;
    width: 67%;
    overflow: hidden;
    white-space:nowrap;
    position: relative;
}
.link-original-url::after {
    content: "";
    width: 31%;
    height: 2rem;
    position: absolute;
    left: 70%;
    top: 0rem;
    background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,1.0));
}

.link-short-url {
    background: linear-gradient(to right, rgba(133,133,133, 0.2), rgba(122,122,122, 0.1));
    padding: 0.7rem 1.5rem;
    width:23%
}

.link-copy-button {
    color: white;
    border: 0px solid rgba(255, 255, 255, 0.7);
    background:  rgba(122,122,122, 0.1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 10%;
}

.link-copy-button:focus {
    outline: none;
}

.circle {
    background: linear-gradient(to right bottom, rgba(255,255,255, 1.0), rgba(255,255,255, 0.1));
    border-radius: 50%;
    height: 35rem;
    width: 35rem;
    position: absolute;
    top: -15rem;
    left: -10rem;
}

.feather-12rem {
    width: 1.2rem;
    height: 1.2rem;
}

.shorten {
    margin: 0 0 1rem 0rem;
}

.shorten-label {
    color: rgba(38, 132, 214, 0.5);
    font-size: 1.0rem;
    font-weight: 400;
}

.shorten-terms {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 150;
    margin: 0.5rem 0;
}

.shorten-input-group {
    display: flex;
    margin: 0.7rem 0;
    justify-content: center;
}

.shorten-url-input {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 200;
    display: block;
    min-height: 1.2rem;
    padding: 0.2rem 1.5rem;
    width: 90%;
}

.shorten-url-button {
    color: white;
    background: linear-gradient(to right bottom, rgba(79, 170, 249, 0.2), rgba(255,255,255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    min-height: 1.2rem;
    padding: 0.2rem;
    width: 10%;
    outline: none;
}

.shorten-url-input:focus {
    outline: none;
}

.shorten-url-button:hover {
    background: linear-gradient(to right bottom, rgba(79, 170, 249, 0.3), rgba(255,255,255, 0.4));
    outline: none;
}

.shorten-url-button:active {
    background: linear-gradient(to right bottom, rgba(132, 170, 204, 0.4), rgba(255,255,255, 0.5));
    outline: none;
}

.input-error {
    display: flex;
    color: #fb6161;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.content {
    background-color: white;
    color: rgb(52, 81, 111);
    padding: 3rem 0;
    font-size: 1.4rem;
    font-weight: 1rem;
    line-height: 2rem;
}

.social {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 100;
    text-align: center;
    stroke-width: 1;
    padding: 1.5rem;
}

.feather-facebook,.feather-instagram,.feather-linkedin,.feather-twitter {
    width: 2 rem;
    height: 2rem;
    margin: 0 3px;
    stroke-width: 1;
}

.feather-thumbs-up {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 200;
    text-align: center;
    stroke-width: 2;
    width: 76px;
    height: 76px;
    margin: 0 3px;
}

.footer {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.7rem;
    font-weight: 200;
    text-align: center;
}

.bottom {
    margin-bottom: 5rem;
}

/* Colors created usinghttps://color.adobe.com/de/mythemes */

/* Color Theme Swatches in Hex */
.Glassmorphism-Blue-1-hex { color: #4FAAF9; }
.Glassmorphism-Blue-2-hex { color: #4BB1DE; }
.Glassmorphism-Blue-3-hex { color: #5FDEF5; }
.Glassmorphism-Blue-4-hex { color: #4BDEDD; }
.Glassmorphism-Blue-5-hex { color: #55FADC; }

/* Color Theme Swatches in RGBA */
.Glassmorphism-Blue-1-rgba { color: rgba(79, 170, 249, 1); }
.Glassmorphism-Blue-2-rgba { color: rgba(75, 177, 222, 1); }
.Glassmorphism-Blue-3-rgba { color: rgba(95, 222, 245, 1); }
.Glassmorphism-Blue-4-rgba { color: rgba(75, 222, 221, 1); }
.Glassmorphism-Blue-5-rgba { color: rgba(85, 250, 220, 1); }

/* Color Theme Swatches in HSLA */
.Glassmorphism-Blue-1-hsla { color: hsla(207, 93, 64, 1); }
.Glassmorphism-Blue-2-hsla { color: hsla(198, 69, 58, 1); }
.Glassmorphism-Blue-3-hsla { color: hsla(189, 88, 66, 1); }
.Glassmorphism-Blue-4-hsla { color: hsla(179, 69, 58, 1); }
.Glassmorphism-Blue-5-hsla { color: hsla(169, 94, 65, 1); }


